@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css2?family=Cookie');
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    background: linear-gradient(rgb(249, 168, 212), rgb(216, 180, 254), rgb(129, 140, 248));
}

h1 {
    font-family: 'Cookie', sans-serif;

    @apply text-center text-pink-50 text-5xl my-4
}

* {
    font-family: 'Comfortaa', sans-serif;
}

.menu-item:hover {
    @apply underline underline-offset-4 text-pink-500
}

.menu-item:focus {
    @apply underline underline-offset-4 text-pink-500
}